.cart{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart h2{
    margin: 40px 0 40px 0;
    width: 95%;
}

.total-price{
    width: 70%;
}

.order-btn{
    text-decoration: none;
    background-color: #F46343;
    height: 30px;
    color: #ffff;
    font-weight: 500;
    line-height: 30px;
}