.item{
    width: 300px;
    height: 350px;
    margin: 16px;
}

.item-img{
    width: 300px;
    margin-bottom: 20px;
}

.item-about{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 0px 15px 0px 15px;
}

.item-about a{
    width: 90px;
    text-decoration: none;
    background-color: #5E5E5E;
    border-radius: 3px;
    color: #FFFFFF;
    text-align: center;
    font-weight: 500;
    line-height: 26px;
}
.item-about p{
    margin: 0;
    font-size: 20px;
    font-weight: 500;
}

.item-stuff{
    display: flex;
    justify-content: space-between;
    padding: 0px 15px 0px 15px;
}

.item-stuff a{
    text-decoration: none;
}
.item-stuff p{
    margin: 0;
    font-size: 20px;
    line-height: 26px;
}

